<form [formGroup]="InputsForm">
    <div class="container">
        <mat-form-field>
            <input matInput formControlName="packageName" placeholder="{{packageNameMsg}}">
            <mat-error *ngIf="!InputsForm.controls['packageName'].valid">
                {{fieldIsRequiredMsg}}
            </mat-error>
        </mat-form-field>
        <button type="button" (click)="onGetPackageDependenciesClick()" mat-button
            color="primary">{{getPkgDependenciesMsg}}</button>

    </div>
</form>